<div class="blog-top-content-holder relative">

    <div class="header-holder">
        <div class="toggle-holder relative right">
            <div id="toggle" class="">
                <div class="first-menu-line"></div>
                <div class="second-menu-line"></div>
                <div class="third-menu-line"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>

    <div class="center-relative center-text relative page-header-title">
        <h1 class="entry-title">Borrow</h1>
    </div>
    <div class="clear"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <form id="borrowRequest">
                <h1 class="text-center">Borrow request</h1>
                <div class="form-group">
                    <label for="inputAddress">Description</label>
                    <input type="text" class="form-control" name="creditDescription" placeholder="Why do you need the money?" required>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Requested Amount:</label>
                        <input type="number" class="form-control" name="creditRequestedAmount" placeholder="e.g. 0.01 ETH" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Installments count:</label>
                        <input type="number" class="form-control" name="creditRequestedInstallmentsCount" placeholder="e.g. 2" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block">Ask for funding</button>
            </form>
        </div>
    </div>
</div>