<div class="blog-top-content-holder relative">

    <div class="header-holder">
        <div class="toggle-holder relative right">
            <div id="toggle" class="">
                <div class="first-menu-line"></div>
                <div class="second-menu-line"></div>
                <div class="third-menu-line"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>

    <div class="center-relative center-text relative page-header-title">
        <h1 class="entry-title">Lend</h1>
    </div>
    <div class="clear"></div>
</div>

<div class="container">
    <div class="row">
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        <span>Asked:</span> 123
                    </p>
                    <p class="card-text">
                        <span>Funded:</span> 44
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
</div>



<!--<article id="post-1" class="entry-holder blog-item-holder has-post-thumbnail">-->
    <!--<div class="entry-content relative">-->
        <!--<div class="content-1170 center-relative center-text">-->
            <!--<div class="entry-date published">November 19, 2017</div>-->
            <!--<div class="cat-links">-->
                <!--<ul>-->
                    <!--<li>-->
                        <!--<a href="#">Video</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--<div class="num-comments">-->
                <!--<a href="#">5 Comments</a>-->
            <!--</div>-->
            <!--<h2 class="entry-title">-->
                <!--<a href="single.html">-->
                    <!--Start by doing what’s necessary then do what’s possible-->
                <!--</a>-->
            <!--</h2>-->
            <!--<a href="https://vimeo.com/157276599" data-rel="prettyPhoto[1]">-->
                <!--<div class="video-popup">-->
                    <!--<img src="images/video_icon.svg" alt="Play">-->
                <!--</div>-->
                <!--<div class="video-popup-text">WATCH VIDEO</div>-->
            <!--</a>-->
            <!--<div class="clear"></div>-->
        <!--</div>-->
    <!--</div>-->
<!--</article>-->